
<%= javascript_include_tag 'home' %>  
<body>
	<div class="home-wrapper">
		<h1>Live Channels!</h1>
		<div class="airing-today-wrapper">
			<div class="airing-today-frames">
				<%= render partial: "live_shows", object: [@results] %>	
			</div>
		</div>
	</div>
</body>
