<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	
</head>
<body>
	<div class="header">
		<div class="logo">
			<a href=""><img src="assets/logo.png" alt=""></a>
		</div>
		<div class="menu">
			<a href="">Home</a>
			<a href="">Browse</a>
			<a href="">My channels</a>
		</div>
		<div class="registration">
			<a href="" id="login">Login</a>
			<a href="" id="register">Register</a>
		</div>
	</div>
	<div class="newsfeed">
		<div class="frame"><img src="assets/gameofthrones.jpeg" alt=""></div>
		<div class="frame"><img src="assets/gameofthrones.jpeg" alt=""></div>
		<div class="frame"><img src="assets/gameofthrones.jpeg" alt=""></div>
		<div class="frame"><img src="assets/gameofthrones.jpeg" alt=""></div>

	</div>
</body>
</html>