
<div class="browse_wrapper">

<% @on_the_air['results'].each do |show| %>
	
	<%= @backdrop_path = "https://image.tmdb.org/t/p/w185"+show['poster_path'] %>
	<img src=<%= @backdrop_path %> alt="">
	
<% end %>
	
</div>

