<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<table>
  <div>MESSAGES:</div>
  <% @messages.each do |message| %>
      <tr>
        <td><%= message.body %></td>
      </tr>
  <% end %>

</table>
  <div>---</div>
  <%= form_for Message.new, url: '/test/post' do |f| %>
      <%= f.text_field :body %>
      <%= f.submit "Send" %>
  <% end %>


</body>
</html>