<!-- Jon Wu -->

<%= javascript_include_tag 'channel' %>  

<div class="browse_wrapper">
	<div class="favorite-list">
		<%= render partial: "favorites_list", object: [@results] %>	
	</div>
</div>

<div class="sidebar">
	<div class="content">	
	 	<h1 class="title"></h1>
		<% if !current_user.nil? %>
			<button class="btn btn-primary follow" value=<%= @results[0]["api_id"] %>>Follow</button>	
		<% end %>
		<button class="btn btn-primary scuss" value=<%= @results[0]["api_id"] %>>Scuss it</button>	
		<p class="description"></p>
	</div>
</div>
