<!-- Jon Wu -->

<%= javascript_include_tag 'channel' %>  

<div class="browse_wrapper">
	<div class="favorite-list">
		<%= render partial: "favorites_list", object: [@results] %>	
	</div>
</div>

<div class="sidebar">
	<div class="content">	
	 	<h1 class="title"></h1>
			<% if @results.any? %>
				<button class="btn btn-primary follow" value=<%= @results[0]["api_id"] %>>Follow</button>		
				<button class="btn btn-primary scuss" value=<%= @results[0]["api_id"] %>>Scuss it</button>	
			<% else %>
				<h1>No Favorites :(</h1>
			<% end %>
		<p class="description"></p>
	</div>
</div>
