.favorite-list{
	padding-top: 15px;
	
}


.btn-topics{
	

	/*width: 100%;*/
	display: inline-block;
	float: left; 
	height: 30px;
	margin:  5px;
	/*padding: 5px;*/
}
.modal-footer .btn + .btn{
	margin:  5px;
	/*margin-left: 0 !important;*/
}

.modal-footer{
	overflow: hidden;
}