// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	padding: 0;
	margin: 0;
	min-width: 1024px;

	/*background-color: #8CA3B2;*/


}
.header{


	background-color: #8CA3B2;
	height: 50px;


}

.header .registration{
	/*background-color: blue;*/
	position: relative;
	float:right;


	/*center vertical*/
	top: 50%; 
	transform: translateY(-50%);
	/*padding-right: 25%;*/
	/*text-align: center;*/
	width: 25%


}
.header .registration a{
	text-decoration: none;
	margin-left: 10px;
}

.header .menu a{
	text-decoration: none;
	margin-left: 10px;
	

}	
.header .logo{
	padding-left: 20%;
	width: 5%;
	float: left;
	height: 70%;
	position: relative;
	top: 50%; 
	text-align: center;
	transform: translateY(-50%);
}

.header .logo img{
	height: 100%;

}
.header .menu{
	/*height: 100%;*/
	width: 50%;
	float: left;
	position: relative;
	top: 50%; 
	transform: translateY(-50%);
	


	/*background-: ;color: black;*/
}

.airing-today-wrapper{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: black;
	overflow-x: scroll;
    white-space: nowrap;
}

.airing-today-wrapper h1{
	color: white;


}

.airing-today-wrapper .airing-today-frames{
	width: auto;
	height: 350px;
}

.airing-today-wrapper .airing-today-frames .frame{
	position: relative;
	display: inline-block;
	background-color: black;
	height: 100%;
	border: 1px solid white;
}
.airing-today-wrapper .airing-today-frames .frame:hover{
	border: 1px solid yellow;	

}

.airing-today-wrapper .airing-today-frames .frame:hover li{
	visibility: visible;


}
.airing-today-wrapper .airing-today-frames .frame:hover img{
	opacity: .2;

}

.airing-today-wrapper .airing-today-frames .frame li{ 
	color: white;
	position: absolute;
	bottom: 0px;
	list-style-type: none;
	visibility: hidden;
	width: 100%;
	height: 100%;

}
.airing-today-wrapper .airing-today-frames .frame li ul{
	width: 100%;
	margin: 0;
	padding-left: 10px;

	padding-top: 3px;
	padding-bottom: 3px;
}  
.airing-today-wrapper .airing-today-frames .frame li ul h2{
	white-space: nowrap; 
    width: 90%; 
    overflow: hidden;
    text-overflow: ellipsis; 
	margin: 0;
	
}

.airing-today-wrapper .airing-today-frames .frame img{
	display: table;
  	margin: auto;
	height: 100%;
}

